@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVjqgWn7-0jeLjTtUfwTkNvTZ8bjdN-XqUkQ&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
